.contact{
	position: absolute;
	 padding:5%;
    background-color: rgba(12,213,123,0.3);
    margin-right: 5%;
    margin-left:5%;
    color:black;
    font-size: 40px;
    text-align: center;
}
.contactform{
	margin-left: 20%;
	margin-right: 20%;
	position: absolute;
	display: flex;
	flex-direction: column-reverse;
	top:80%;
}