
body{
    margin: 0px;
    font-family: 'Zilla Slab', serif;
}
/*Navbar css*/
.navshade{
    background-color: black;
    display: flex;
    height:10vh;
    
}
nav ul{
    margin: 0px;   
    display: flex;
    list-style: none;
    background:black;
}
li>a{
    text-decoration: none;
    color:cadetblue;
}
li>a:hover{
    color: aqua;
}
nav ul{
    margin-left: auto;
    padding:0px; 
}
ul li{

    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    padding: 10px;
}
.myname{
    margin:5px;
    font-size: 3em;
    color:white;

}
.right{
    margin-left: auto;
}
.sticky{
    position:fixed;
    width: 100%;
    z-index: 999;/*It will be on top*/
    
}
/*Navigation Bar CSS ends*/
.container{
    display: grid;
    grid-template-columns:1fr 2fr
}
/*Cover about me section CSS*/
.cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom,grey,white);
}
.box{
    width:80%;
    background-color: #444; 
    padding:5%;
    transition: all 1s;
}
.box:hover{
    transform: scale(1.05);   
}
/* The content css*/
.content{
    margin-top:65px;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project{
    height:100vh;
    width: 100%;
    background: lightcyan;
}
.skills{
    height:100vh;
    background-color: azure;
    width: 100%;
    
}
.qualification{
     height:100vh;
    background-color:cornsilk;
    width: 100%;
    
}
.contact{
    height:20vh;
    background-color:bisque;
    width: 100%;
    
}
/*Footer CSs*/
footer{
    font-family: 'Zilla Slab', serif;
    text-align: center;
    font-style: italic;
    height:5vh;
    color: white;
    background-color:black;
}
/*Smartphone Responsive CSS*/
@media only screen and (max-width : 720px){
    body{
        overflow-x: hidden;
    }
    .navelement{
        position: absolute;
        top:10vh;
        right: 0px;
        height: 90vh;
        display:flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
/*        justify-content: space-around;*/
        transform: translateX(100%);
    }
    .navelement-active{
        transform: translateX(0%);
    }
    .navelement li{
/*        opacity: 0;*/
        margin-bottom:20%;
    }
    .ham{
        margin-top:15px;
        margin-right:5px;
        margin-left: auto;
        cursor: pointer;
    }
    .ham div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    }
    ul li{
        padding:2px;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
     .cover{
            background-color: aqua;}
    .box{
        margin-top:60px;}
    .content{
        margin-top:0px;
    }
    
}
