body{
    margin: 0px;
    font-family: 'Zilla Slab', serif;
}
/*Navbar css*/

nav ul{
    margin: 0px;   
    display: flex;
    list-style: none;
    background-color: black;
}
li>a{
    text-decoration: none;
    color:cadetblue;
}
li>a:hover{
    color: aqua;
}
ul li{
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    padding: 10px;
}
.myname{
    font-size: 3em;
    color: black;
}
.right{
    margin-left: auto;
}
.sticky{
    position:fixed;
    width: 100%;
    z-index: 999;/*It will be on top*/
    
}
/*Navigation Bar CSS ends*/
.container{
    display: grid;
    grid-template-columns:1fr 2fr
}
/*Cover about me section CSS*/
.cover{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}
.box{
    width:80%;
    background-color: #444;  
    padding:5%;
    transition: all 1s;
}
.box:hover{
    transform: scale(1.05);   
}
.box > img{
     width:100%
}

.aboutme{
    clear:float;
}
/* The content css*/
.content{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
/*Footer CSs*/
footer{
    font-family: 'Zilla Slab', serif;
    text-align: center;
    font-style: italic;
    height:5vh;
    color: white;
    background-color:black;
}
/*Smartphone Responsive CSS*/
@media only screen and (max-width : 720px){
    ul li{
        padding:2px;
    }
    .myname{
        font-size:25px;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
     .cover{
            background-color: aqua;}
    
}
